.quotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.quote {
  text-align: left;
  max-width: 80%;
  background-color: hsla(280, 100%, 11%, 0.067);
  padding: 1rem;
  border-radius: 1rem;
}

.author {
  font-style: italic;
  background-color: hsla(0, 100%, 29%, 0.067);
  margin: 0 1rem;
  padding: 0.5rem;
  border-radius: 50%;
}

.searchInput {
  margin-bottom: 1rem;
}

.addButton {
  display: block;
  margin-bottom: 1rem;
}

.addForm {
  margin-bottom: 1rem;
}

.fullWidth {
  display: block;
  width: 100%;
}

.mtHalf {
  margin-top: 0.5rem;
}

.mlHalf {
  margin-left: 0.5rem;
}

.quoteWrapper {
  margin-bottom: 1rem;
}

.editButton {
  float: right;
  cursor: pointer;
  background: transparent;
  border: none;
}
